<?xml version="1.0"?>

<robot name="rover" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- includes -->
    <xacro:include filename="$(find robot_model_description)/urdf/base/robot_base.urdf.xacro"/>
    <xacro:include filename="$(find robot_model_description)/urdf/utils/utils.urdf.xacro"/>
    <xacro:include filename="$(find robot_model_description)/urdf/arm/scara.urdf.xacro"/>
    <xacro:include filename="$(find robot_model_description)/urdf/arm/gripper.urdf.xacro"/>
    <xacro:include filename="$(find robot_model_description)/urdf/wheels/rover_wheel.urdf.xacro"/>
    <xacro:include filename="$(find robot_model_description)/urdf/sensors/imu_sensor.urdf.xacro"/>
    <xacro:include filename="$(find robot_model_description)/urdf/ros2_control.urdf.xacro"/>
    <xacro:include filename="$(find robot_model_description)/urdf/sensors/camera.urdf.xacro"/>
    <xacro:include filename="$(find robot_model_description)/urdf/sensors/sensors.urdf.xacro"/>

    <!-- properties -->
    <xacro:property name="PI" value="3.1415926535897931"/>

    <!-- arguments -->
    <xacro:arg name="robot_ns" default=""/>
    <xacro:arg name="prefix" default=""/>

    <!-- robot parts -->
    <xacro:utils/>

    <!-- base -->
    <xacro:robot_base/>

    <!-- wheels -->
    <xacro:rover_wheel parent="base_link"/>

    <!-- arm -->
    <xacro:scara parent="base_link"/>
    <xacro:gripper parent="arm_08_link"/>

    <!-- sensors -->
    <xacro:camera parent="base_link"/>
    <xacro:imu_sensor parent="base_link"/>
    <xacro:sensors parent="arm_09_link"/>

    <!-- gazebo ROS control plugins -->
    <xacro:arg name="config_controllers" default="$(find robot_model_description)/config/rover_controllers.yaml"/>
    <xacro:arg name="update_rate" default="30"/>
    <xacro:ros2_control/> 

</robot>
