<?xml version="1.0"?>
<robot name="rover" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="utils" >

    <material name="Material.001">
      <color rgba="0.12941 0.94118 1.00000 1.00000"/>
    </material>
    <material name="Material.002">
      <color rgba="0.07843 0.80000 0.00000 1.00000"/>
    </material>
    <material name="turnarrow">
      <color rgba="0.80000 0.74510 0.00000 1.00000"/>
    </material>
    <material name="turnarrow.001">
      <color rgba="0.00784 0.80000 0.00000 1.00000"/>
    </material>
    <material name="turnarrow.004">
      <color rgba="0.01176 0.00784 0.80000 1.00000"/>
    </material>
    
  </xacro:macro>
</robot>